# **List comprehension**

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
[i*i for i in lst if i%2==0]

[4, 16, 36, 64]

# **String Formatting**

In [ ]:
print("Hello dj")

Hello dj

In [ ]:
def greetName(name):
  return "My name is {}".format(name)

In [ ]:
greetName("Divyansh")

'My name is Divyansh'

In [ ]:
def goodMorning(name,age):
  return "Welcome {} you are {} years old".format(name,age)

In [ ]:
goodMorning("Divyansh",22)

'Welcome Divyansh you are 22 years old'

In [ ]:
def goodMorning(name,age):
  return "Welcome {name} you are {age} years old".format(age = name , name = age)

In [ ]:
goodMorning("dj","22")

'Welcome 22 you are dj years old'

# **Iterators and Iterables**

In [ ]:
#this is iterable
lst = [1,2,3,4,5,6,7]
for i in lst:
  print(i)

1
2
3
4
5
6
7

In [ ]:
#this is iterator
lst1 = iter(lst)
next(lst1)

1

In [ ]:
#iterator can also be run in for loop ,stop iterating exception is already handled in for loop
for i in lst1:
  print(i)

2
3
4
5
6
7