In [3]:
def isOdd(num):
  if num%2==0:
    print("The number is even")
  else:
    print("The number is odd")

In [4]:
isOdd(27)

The number is odd

In [5]:
def prnt():
  return "HELLO WORLD"

In [6]:
val = prnt()

In [7]:
def is_Sum(num1,num2):
  return num1+num2

In [10]:
val  = is_Sum(10,20)
val

30

In [12]:
#positional keyword - only the key  is given
#argument keyword - it is given in the form of key value pair

def hello_jii(name,age = 29):
  print("My name is {} and my age is {}".format(name,age))

In [14]:
hello_jii('Divyansh')

My name is Divyansh and my age is  29

In [15]:
def func(*args,**kwargs):
  print(args)
  print(kwargs)

In [17]:
lst =['divyansh',74]
dict = {'name':'Divyansh', 'score': 74}
func(*lst,**dict)

('divyansh', 74)
{'name': 'Divyansh', 'score': 74}

In [18]:
lst = [1,2,3,4,5,6,7]

In [20]:
def find_odd_Even(lst):
  for i in lst:
    if i%2==0:
      even_Sum = even_Sum + i
    else:
      odd_Sum = odd_Sum + i

  return even_Sum,odd_Sum

In [3]:
#lambda function- a function which has no name
addition = lambda a,b : a+b
addition(12,14)

26

In [5]:
even = lambda a: a%2==0
even(25)

False

In [8]:
val = lambda x,y,z:x+y+z
val(2,4,6)

12

# Map Function in python

In [12]:
def isOdd(num):
  if num%2==0:
    return "Even"
  else:
    return "Odd"

In [13]:
lst = [1,2,3,4,5,6,7]

In [14]:
list(map(isOdd,lst))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

# Filter Functions

In [16]:
def isEven(num):
  if num%2==0:
    return True

In [17]:
lst = [2,3,4,5,6,7,8]
list(filter(isEven,lst))

[2, 4, 6, 8]

In [19]:
#filter to lambda
list(filter(lambda num: num%2==0,lst))

[2, 4, 6, 8]

In [20]:
list(map(lambda num: num%2==0,lst))

[True, False, True, False, True, False, True]